
$color-highlight: #ea3e26; // SM red.
$color-primary: #fafafa;

$font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans,
	Ubuntu, Cantarell, "Helvetica Neue", sans-serif;

$color-black-faded--default: rgba(0, 0, 0, 0.65);
$color-black-faded--more: rgba(0, 0, 0, 0.4);
$color-black-faded--most: rgba(0, 0, 0, 0.2);

// All of them, for reference:

// $prefix: 'bmpui' !default;

// $color-black: #000 !default;
// $color-transparent: rgba(0, 0, 0, 0) !default;
// $color-red: #f00 !default;

// $color-highlight: #1fabe2 !default; //Bitmovin blue
// $color-primary: #fff !default;
// $color-secondary: #999 !default;

// $color-background: #111 !default;
// $color-background-highlight: transparentize(mix($color-black, $color-highlight, 75%), .3) !default;
// $color-background-bars: transparentize($color-black, .3) !default;

// $font-family: sans-serif !default;
// $font-size: 1em !default;

// $subtitle-text-color: #fff !default;
// $subtitle-text-border-color: #000 !default;

// $animation-duration: .3s !default;
// $animation-duration-short: $animation-duration / 2 !default;
