@import '../variables';
@import '../mixins';

.#{$prefix}-ui-playlistmenu {
  top: 90%;
  padding-bottom: 1em;
  left: 0;
  opacity: 0;
  overflow-x: auto;
  overflow-y: hidden;
  -ms-overflow-style: -ms-autohiding-scrollbar;
  -webkit-overflow-scrolling: touch;
  position: absolute;
  transition: visibility 0s linear $animation-duration, opacity $animation-duration linear, top $animation-duration ease-out; // , bottom $animation-duration ease-out;
  visibility: hidden;
  white-space: nowrap;
  width: 100%;
  
  &::-webkit-scrollbar {
    display: none;
  }

  p {
    padding: 1em 0.5em 0;
    color: white;
    font-size: 1em;
    text-align: left;
  }

  a {
    height: 100%;
    color: white;
    display: block;
    cursor: pointer;
    text-align: left;
    text-decoration: none;
  }

  .#{$prefix}-ui-playlistmenuitem {
    display: inline-block;
    position: relative;
    width: 24%;
    word-break: break-word;
    white-space: normal;
    padding: {
      left: 10px;
      right: 10px;
    }
    vertical-align: top;
    object-fit: cover;

    .playlist-item-link {
      background: none;
      border: none;
      color: white;
      cursor: pointer;
      display: block;
      height: 100%;
      width: 100%;
      padding: 0;
      text-align: left;
      text-decoration: none;

      &:hover,
      &:focus,
      &:active {
        outline: 0;
      }
    }

    p {
      margin: 0;
      text-decoration: none;
    }

    .playlist-thumbnail-wrapper {
      position: relative;
      color: white;
      font-weight: 400;
      border: 2px solid transparentize($color-primary, .8);
      border-radius: 3px;
      // Prevent a weird display when a new playlist is dynamically 
      // loaded, before the thumbnail images are loaded.
      min-height: 10em;
    }

    .playlist-item-inside {
      background: linear-gradient(to top, $color-transparent, $color-background-bars);
      position: absolute;
      top: 0;
        width: 100%;
        height: 100%;
    }

    .playlist-title {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      padding: {
        top: .5em;
      }

      overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }

    .playlist-thumbnail {
      display: block;
      width: 100%;
    }

    .playlist-duration {
      width: 100%;
      position: absolute;
      background: linear-gradient(to bottom, $color-transparent, $color-background-bars);
      bottom: 0;
      right: 0;
      padding: .5em;
      font-size: 1em;
      text-align: right;
    }

    .playlist-item-playing {
      display: none; // only show on hovered. see below.
      opacity: 0;
      visibility: hidden;
      color: $color-primary;
      font-weight: 700;
      text-shadow: 0 0 5px $color-black;
      position: absolute;
      top: 50%;
      margin-top: -0.5em;
      width: 100%;
      text-align: center;
      text-transform: uppercase;
      transition: opacity $animation-duration, visibility $animation-duration;
    }

    &.#{$prefix}-ui-playlistmenuitem-active .playlist-item-playing {
      opacity: 1;
      visibility: visible;
    }
  }
}

// Only show the status/playing labels when the menu is
// hovered to prevent them weirdly flashing if loading
// a new playlist dynamically.
.#{$prefix}-ui-playlistmenu {
  .#{$prefix}-ui-playlistmenu-wrapper-hovered & {
    .playlist-item-playing {
      display: block;
    }
  } 
}

// Customizations for standard elements when viewing a playlist.
.#{$prefix}-ui-is-playlist {
	.#{$prefix}-ui-controlbar {
		background: linear-gradient(to bottom, $color-transparent, $color-background-bars);
		padding: {
			top: 1%;
			bottom: 6.5%;
		}
  }
  
  .#{$prefix}-ui-settings-panel {
    bottom: 9em;
  }
}

// Force show the playlist menu when force-showing all controls.
&.#{$prefix}-controls-shown {
	.#{$prefix}-ui-playlistmenu {
		visibility: visible;
		opacity: 1;
		transition-delay: 0s;
	}
}

// Responsive customizations.
&.#{$prefix}-layout-max-width-800 {
	.#{$prefix}-ui-playlistmenu {
		.#{$prefix}-ui-playlistmenuitem {
			width: 28%;
		}
	}
}

&.#{$prefix}-layout-max-width-600 {
  .#{$prefix}-ui-is-playlist {
		.#{$prefix}-ui-controlbar {
			padding: {
				bottom: 11%;
			}
		}

		.#{$prefix}-ui-playlistmenu {
      .#{$prefix}-ui-playlistmenuitem {
				width: 32%;

				.playlist-title {
					font-size: 0.9em;
				}
				.playlist-item-playing {
					font-size: 0.8em;
				}
				.playlist-duration {
					font-size: 0.8em;
				}
			}
		}
	}
}

// Mobile playlist menu.
&.#{$prefix}-ui-skin-smallscreen {
  .#{$prefix}-ui-playlistmenu-wrapper {
    &.#{$prefix}-hidden {
      display: none;
    }
  }
  
  .#{$prefix}-ui-playlistmenu {
    background-color: $color-black-faded--default;
    @include layout-cover;

    // This is important, because for the desktop menu the 
    // top position is now altered dynamically on/off hover, 
    // but the mobile one needs to stay pinned to the top.
    top: 0 !important;
    
    .#{$prefix}-ui-playlistmenu-closebutton-container {
      text-align: right;
    }
    
		bottom: 0 !important;
		padding: 1em 1.1em;
		overflow-y: scroll;

		.#{$prefix}-ui-playlistmenuitem {
			display: block !important;
			width: 100% !important;
			margin-bottom: .5em;
      padding-top: .5em;
      padding-bottom: .5em;
      border-bottom: 1px solid transparentize($color-primary, .8);
      
      &:last-child {
        border-bottom: none;
      }

      &.#{$prefix}-ui-playlistmenuitem-active {
        background-color: $color-black-faded--more;
      }

      .playlist-thumbnail-wrapper {
        min-height: 0;
      }

			.playlist-thumbnail {
				width: 22% !important;
			}
			.playlist-item-inside {
				width: 78%;
				background: none !important;
        margin-left: 22%;
        overflow: hidden;
			}
			.playlist-duration {
				background: none;
				position: relative;
				display: block;
				font-size: 0.9em;
				padding: 0 0.1em 0 0;
        float: right;
        width: auto;
			}
			.playlist-title {
				display: block;
				position: relative;
        line-height: 1.2em;
				padding-top: 0;
        float: left;
        width: 85%;
			}

			.playlist-item-playing {
        clear: both;
        display: block;
        position: static;
        text-align: left;
        font-size: 0.9em;
        padding: 0.25em 0.5em 0;
			}
		}

		.playlist-thumbnail-wrapper {
			border: none !important;
		}
	}

	.#{$prefix}-ui-is-playlist {
		.#{$prefix}-ui-controlbar {
			padding: {
				bottom: .5em !important;
			}
		}
	}
}
