@import '../variables';
@import '../mixins';

.#{$prefix}-ui-playlistmenu {
  bottom: -16%;
  left: 0;
  opacity: 0;
  overflow-x: auto;
  overflow-y: hidden;
  -ms-overflow-style: -ms-autohiding-scrollbar;
  -webkit-overflow-scrolling: touch;
  position: absolute;
  transition: visibility 0s linear $animation-duration, opacity $animation-duration linear, bottom $animation-duration ease-out;
  visibility: hidden;
  white-space: nowrap;
  width: 100%;
  
  &::-webkit-scrollbar {
    display: none;
  }

  .#{$prefix}-ui-playlistmenu-wrapper-hovered & {
    bottom: 0 !important;
    padding: {
      bottom: 15px;
    }
  }

  p {
    padding: 1em 0.5em 0;
    color: white;
    font-size: 1em;
    text-align: left;
  }

  a {
    height: 100%;
    color: white;
    display: block;
    cursor: pointer;
    text-align: left;
    text-decoration: none;
  }

  .#{$prefix}-ui-playlistmenuitem {
    display: inline-block;
    position: relative;
    width: 24%;
    word-break: break-word;
    white-space: normal;
    padding: {
      left: 10px;
      right: 10px;
    }
    vertical-align: top;
    object-fit: cover;

    button {
      background: none;
      border: none;
      color: white;
      cursor: pointer;
      display: block;
      height: 100%;
      padding: 0;
      text-align: left;
      text-decoration: none;

      &:hover,
      &:focus,
      &:active {
        outline: 0;
      }
    }

    p {
      margin: 0;
      text-decoration: none;
    }

    .playlist-thumbnail-wrapper {
      position: relative;
      color: white;
      font-weight: 400;
      border: 2px solid transparentize($color-primary, .8);
      border-radius: 3px;
    }

    .playlist-duration {
      width: 100%;
      position: absolute;
      background: linear-gradient(to bottom, $color-transparent, $color-background-bars);
      bottom: 0;
      right: 0;
      padding: .5em;
      font-size: 1em;
      text-align: right;
    }

    .playlist-item-playing {
      opacity: 0;
      visibility: hidden;
      position: absolute;
      top: 40%;
      width: 100%;
      text-align: center;
      text-transform: uppercase;
      transition: opacity $animation-duration, visibility $animation-duration;
    }

    .playlist-item-inside {
      background: linear-gradient(to top, $color-transparent, $color-background-bars);
      position: absolute;
      top: 0;
        width: 100%;
        height: 100%;
    }

    .playlist-title {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      padding: {
        top: .5em;
      }

      overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }

    .active .playlist-item-playing {
      opacity: 1;
      visibility: visible;
      color: white;
      text-shadow: 0 0 5px $color-black;
      font-weight: 700;
        font-size: 1em;
    }

    .playlist-thumbnail {
      display: block;
      width: 100%;
    }
  }
}

// Customizations for standard elements when viewing a playlist.
.#{$prefix}-ui-is-playlist {
	.#{$prefix}-ui-controlbar {
		background: linear-gradient(to bottom, $color-transparent, $color-background-bars);
		padding: {
			top: 1%;
			bottom: 6.5%;
		}
  }
  
  .#{$prefix}-ui-settings-panel {
    bottom: 9em;
  }
}

// Force show the playlist menu when force-showing all controls.
&.#{$prefix}-controls-shown {
	.#{$prefix}-ui-playlistmenu {
		visibility: visible;
		opacity: 1;
		transition-delay: 0s;
	}
}

// Responsive customizations.
&.#{$prefix}-layout-max-width-800 {
	.#{$prefix}-ui-playlistmenu {
		.#{$prefix}-ui-playlistmenuitem {
			width: 28%;
		}
	}
}

&.#{$prefix}-layout-max-width-600 {
  .#{$prefix}-ui-is-playlist {
		.#{$prefix}-ui-controlbar {
			padding: {
				bottom: 11%;
			}
		}

		.#{$prefix}-ui-playlistmenu {
      .#{$prefix}-ui-playlistmenuitem {
				width: 32%;

				.playlist-title {
					font-size: 0.9em;
				}
				.playlist-item-playing {
					font-size: 0.8em;
				}
				.playlist-duration {
					font-size: 0.8em;
				}
			}
		}
	}
}

// Mobile playlist menu.
&.#{$prefix}-ui-skin-smallscreen, 
&.#{$prefix}-layout-max-width-400 {
  .#{$prefix}-ui-playlistmenu-wrapper {
    &.#{$prefix}-hidden {
      display: none;
    }
  }
  
  .#{$prefix}-ui-playlistmenu {
		background-color: $color-black-faded--default;
		@include layout-cover;
    
    .#{$prefix}-ui-playlistmenu-closebutton-container {
      text-align: right;
    }
    
		bottom: 0 !important;
		padding: 1em 1.1em;
		overflow-y: scroll;

		.#{$prefix}-ui-playlistmenuitem {
			display: block !important;
			width: 100% !important;
			margin-bottom: .5em;
			padding-bottom: .4em;
      border-bottom: 1px solid transparentize($color-primary, .8);
      
      &:last-child {
        border-bottom: none;
      }

			.playlist-thumbnail {
				width: 22% !important;
			}
			.playlist-item-inside {
				width: 78%;
				background: none !important;
				margin-left: 22%;
			}
			.playlist-duration {
				background: none;
				position: relative;
				display: block;
				font-size: .7em;
				padding: {
					left: .7em;
					top: 0;
				}
			}
			.playlist-title {
				display: block;
				position: relative;
				font-size: .9em;
				padding: {
					top: 0;
				}
			}

			.playlist-item-playing {
				display: none !important;
			}

			.active {
				background: $color-background-highlight;
				border: 1px solid $color-secondary
			}
		}

		.playlist-thumbnail-wrapper {
			border: none !important;
		}
	}

	.#{$prefix}-ui-is-playlist {
		.#{$prefix}-ui-controlbar {
			padding: {
				bottom: .5em !important;
			}
		}
	}
}
