@import '../variables';
@import '../mixins';

$button-width: 6em;
$button-background-size: 3.5em;
$button-offset-margin: $button-width / 2;

.#{$prefix}-ui-unmute {
  left: 50%;
  position: absolute;
  top: 50%;

  .#{$prefix}-ui-unmutebutton {
    @extend %ui-button;

    background-color: rgba(0, 0, 0, 0.75);
    border-radius: 50%;
    margin: (-$button-offset-margin) 0 0 (-$button-offset-margin);
    padding: 0;

    background-image: svg('assets/skin-modern/images/music-off.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: $button-background-size; // $button-width;
    height: $button-width;
    width: $button-width;

    @keyframes fade-in {
      from {
        opacity: 0;
        visibility: visible;
      }
  
      to {
        opacity: 1;
      }
    }

    @keyframes fade-out {
      from {
        opacity: 1;
        visibility: visible;
      }
  
      to {
        opacity: 0;
        visibility: hidden;
      }
    }
  
    animation: fade-in 1.5s;

    &.#{$prefix}-fadeout {
      animation: fade-out 1.5s;
    }

    @keyframes breathe {
      30% {
        transform: scale(1.1);
      }
  
      60% {
        transform: scale(1);
      }
    }

    &:hover {
      animation: breathe 3s ease-in-out infinite;
    }
  }
}